*{
    box-sizing: border-box;
}

[class*="col"] {
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}

body {
    background-image: url(../images/pexels-resourceboy-18541749.jpg);
    background-color: #01311F;
    color: #FFFAF0;
    font-family: "Permanent Marker";
}

h1, h2, h3 {
    font-family: "Comme";
    font-size: 25px;
    font-weight: bolder;
    text-shadow: .25px .25px .5px #FFFAF0;
    color: #e4a31e;
}

.rate {
    color: #DEE2B1;
}

.conversion {
    color: #DEE2B1;
    margin-top: 27px;

}

p{
    font-size: 15px;
}

span {
    text-decoration: underline;
    font-style: italic;
}

div {
    font-family: "Lexend Deca";
    /* border: double cornflowerblue; */
}

#second-row {
    margin-top: 2%;
}

#third-row {
    margin-top: 2%;
    margin-bottom: 3%;
}

.col #rate_conversion {
    padding: 2%;
}

#equipment {
    margin-left: 3%;
}

#images {
    margin-left: 1%;
}

#directions {
    margin-left: 7%;
}

figure {
    padding: 15px;
    margin: 20px;
}

figcaption {
    font-size: 15px;
}

img {
    border-radius: 20px;
    border: 5px solid;
    width: 380px;
}


ol, ul, li {
    font-size: 15px;
}

li {
    padding: 10px;
}

#links {
    list-style-type: none;
}

.recipe{
    background-color: #e4a31e;
    width: 40%;
    padding: 3%;
    margin-bottom: 5%;
    border-radius: 5px;
}

form {
    width: 70%;
    padding: 10px;
    background-color: #e4a31e;
    box-shadow: .05px .05px 1px 1px #FFFAF0;
}
input {
    padding: 3.5px;
}

legend, fieldset {
    color: #1d2f23;
    background-color: #e4a31e;
    width: 300px;
    padding: 10px;
}

fieldset {
    display: flex;
    justify-content: space-around;
    border: 3px solid #1d2f23;
}

legend {
    width: 230px;
    border: 3px solid;
}

hr {
    border: 5px solid #e4a31e;
    border-radius: 5px;
}